<div class='loading' ng-if='isLoading'>
  <img class='loadingGif' src='assets/spinny.gif'></img><br> 
  Finding your concerts...
</div>
<div ng-controller='concertController'> 
  <h4 ng-hide='isLoading'>Showing {{data.length}} of {{data.length}} events in your area</h4>

  <div class="row">
    <div ng-repeat='event in data | orderBy:"show.start.date"'>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img ng-src="{{event.info.images[0].url}}"></img>
          <div>
            <h3>{{event.info.name}}</h3>
            <p>
              <div>{{parseMonth(event.show.start.date)}} {{parseDay(event.show.start.date)}}</div>
              <div>@{{event.show.venue.displayName}}</div>
            </p>
            <p><a href="#/details" class="btn btn-primary" role="button">Details</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- <div ng-repeat='event in data | orderBy:"show.start.date"'>
      <div class='showListing' ng-mouseover='focusIn()' ng-mouseleave='focusOut()'>
        <div class='imageContainer'>
          <img class='artistImg' ng-src="{{event.info.images[0].url}}"></img>
        </div>
        <div class='date'>{{parseMonth(event.show.start.date)}}<br>{{parseDay(event.show.start.date)}}</div> <br>
        <div class='name' ng-class='isFavorite(event)'>{{event.info.name}}</div> <br>
        <div class='venue'>@{{event.show.venue.displayName}}</div>
        <div class='extras' ng-class='focus'>
          <div class='billing'>{{ findBilling(event.info.name, event.show.performance) }}</div>
          <a ng-href='{{event.show.uri}}' class='going'>Check for tickets</a>
        </div>
      </div>
    </div> -->
  </div>

  <div ng-hide='isLoading' class="text-center">
    <pagination 
      ng-model="currentPage"
      total-items="data.length"
      max-size="maxSize"  
      boundary-links="true">
    </pagination>
  </div>
  <!-- DETAILS -->
  
</div>


